body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* background-image: url("/public/bgimage.jpg"); */
  background-size: cover;
  background-position: center;
}



.navbar {
  display: flex;
  justify-content: start;
  gap: 800px;
  padding: 15px 40px;
  background: #111;
  color: white;
  position: fixed;
   top: 0;
  left: 0;
  z-index: 1000;
  width:100%;
  height: 40px;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 100px 20px;
  text-align: center;
  background: white;

}

.hero h1 span {
  color: #0077ff;
  padding: 3px;
}

.hero p {
    padding: 3px;
}

.hire-btn {
  padding: 12px;
  background: #1fb8e2;
  color: rgb(7, 7, 7);
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 3px;
}

.skills, .projects, .contact {
  padding: 60px 20px;
  text-align: center;
}

.skills-container, .project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  }

.skill-card, .project-card {
  background: rgb(13, 13, 14);
  color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.skills h2, .projects h2{
  color: #0077ff;
}
.project-card a {
  color: #f6de0b;
  text-decoration: none;
  font-weight: bold;
}
.project-card button{
  border: none;
  width: 100px;
  height: 20px;
  background-color: #0077ff;
  border-radius: 2px;
  color: white;
}

.contact-btn {
  padding: 12px 20px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .hero {
    padding: 60px 20px;
  }
}

/* project details styling */
.project-details-container {
  max-width: 800px;
  margin: 80px auto 40px auto; /* 80px top for fixed navbar */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}

.project-details-container h1 {
  font-size: 2rem;
  color: #080a0b;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.project-details-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}

.project-details-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin: 10px 0;
}

.tech-stack {
  font-weight: bold;
  color: #111;
}

.back-btn {
  display: flex;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  gap: 3px;
  flex-direction: row;
  justify-content: space-between;
}

.back-btn:hover {
  background-color: #0056b3;
}

